<ion-view>  
    <ion-content>
        <div ng-controller="UserController" ng-init="getUserInformation()">
            <div class="profileHeader">
                <img src="../img/daenerys.jpg" alt="" class="profilePics">
            </div>
            <div class="list card light-bg infoCard">
                <h2 class="font username">{{username}} </h2>
                <div class="item item-body">
                    Email : {{email}} <br>  
                    Birthday : {{date}}
                </div>
            </div>
            <button class="button button-fab ink-dark button-calm icon ion-tshirt buttonModify"></button>
        </div>
    </ion-content>
    <div class="tabs-striped tabs-color-positive navBar" style="position: static; margin-bottom: 15px;">
        <div class="tabs">
            <a class="tab-item" ui-sref="home" data-ink-color="#ef473a" data-ink-opacity=".35">
                <i class="icon ion-home"></i>
            </a>
            <a class="tab-item active" ui-sref="profile" data-ink-color="#ef473a" data-ink-opacity=".35">
                <i class="icon ion-star"></i> 
            </a>
            <a class="tab-item" data-ink-color="#ef473a" data-ink-opacity=".35">
                <i class="icon ion-gear-a"></i> 
            </a>
        </div>
    </div>
</ion-view>